body{
    font-family: Arial, sans-serif;
}
section{
    background-color: lightgray;
    padding: 15px;
    margin: 10px;
    text-align: center;
}
article{
    background-color: blueviolet;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    width: 250px;
    display: inline-block;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    transition: all 0.5s;
}
.fa-user-circle{
    font-size: 80px;
    text-align: center;
    display: block;
    border: 10px solid blueviolet;
    width: 80px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    margin-top: -50px;
    background-color: blueviolet;
}

/* --------------------- Transformation 1 ----------------- */
.trans-1:hover{
    transform: translateY(-20px);
}

/* --------------------- Transformation 2 ----------------- */
.trans-2:hover{
    transform: rotate(-180deg);
}

/* --------------------- Transformation 3 ----------------- */
.trans-3:hover{
    transform: rotate(-20deg) scale(1.2,1.2);
}

/* --------------------- Transformation 4 ----------------- */
.trans-4:hover{
    transform: skew(10deg,10deg);
}

/* --------------------- Transformation 5 ----------------- */
.trans-5:hover{
    transform: perspective(400px) rotateX(-25deg);
}

/* --------------------- Transformation 6 ----------------- */
.trans-6:hover{
    transform: perspective(400px) rotateY(25deg);
}

/* --------------------- Transformation 7 ----------------- */
.trans-7:hover{
    transform: rotate3d(1,1,1,-65deg);
}